<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <app-logo></app-logo>  
    <ion-slide>
      <h2>Welcome to Vybe</h2>
      <p>Vybe is an innovative platform for small to medium
        event-planning by providing a convinient way to sell
        and buy event tickets.
      </p>
    </ion-slide>
    <ion-slide>
      <h2>What's popping?</h2>
      <p>See other events nearby that people are talking about,
        events related to your interests and  what is currently trending
        in upcoming and current events.
      </p>
    </ion-slide>
    <ion-slide>
      <h2>Explore events in our new real-time VR package</h2>
      <p>Intoducing the new VR package that allows you to attend a concert 
        from the comfort of your home in real-time, surround sound and 360 degree vision.
        You can attend a concert anywhere in the world from the comfort of your home.
      </p>
  </ion-slide>
  </ion-slides>
</ion-content>
